<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.binggo.apiwatchdog.mapper.ApiProviderMapper" >
  <resultMap id="ApiProviderResultMap" type="org.binggo.apiwatchdog.domain.ApiProvider" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="TINYINT" />
    <result column="weixin_receivers" property="weixinReceivers" jdbcType="VARCHAR" />
    <result column="mail_receivers" property="mailReceivers" jdbcType="VARCHAR" />
    <result column="phone_receivers" property="phoneReceivers" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="ResultMapWithBLOBs" type="org.binggo.apiwatchdog.domain.ApiProvider" extends="BaseResultMap" >
    <result column="description" property="description" jdbcType="LONGVARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, name, version, state, weixin_receivers, mail_receivers, phone_receivers
  </sql>
  
  <sql id="Blob_Column_List" >
    description
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from api_provider
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from api_provider
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="org.binggo.apiwatchdog.domain.ApiProvider" >
    insert into api_provider (id, name, version, 
      state, weixin_receivers, mail_receivers, 
      phone_receivers, description)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{version,jdbcType=VARCHAR}, 
      #{state,jdbcType=TINYINT}, #{weixinReceivers,jdbcType=VARCHAR}, #{mailReceivers,jdbcType=VARCHAR}, 
      #{phoneReceivers,jdbcType=VARCHAR}, #{description,jdbcType=LONGVARCHAR})
  </insert>
  
  <insert id="insertSelective" parameterType="org.binggo.apiwatchdog.domain.ApiProvider" >
    insert into api_provider
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="weixinReceivers != null" >
        weixin_receivers,
      </if>
      <if test="mailReceivers != null" >
        mail_receivers,
      </if>
      <if test="phoneReceivers != null" >
        phone_receivers,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=TINYINT},
      </if>
      <if test="weixinReceivers != null" >
        #{weixinReceivers,jdbcType=VARCHAR},
      </if>
      <if test="mailReceivers != null" >
        #{mailReceivers,jdbcType=VARCHAR},
      </if>
      <if test="phoneReceivers != null" >
        #{phoneReceivers,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.binggo.apiwatchdog.domain.ApiProvider" >
    update api_provider
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=TINYINT},
      </if>
      <if test="weixinReceivers != null" >
        weixin_receivers = #{weixinReceivers,jdbcType=VARCHAR},
      </if>
      <if test="mailReceivers != null" >
        mail_receivers = #{mailReceivers,jdbcType=VARCHAR},
      </if>
      <if test="phoneReceivers != null" >
        phone_receivers = #{phoneReceivers,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="org.binggo.apiwatchdog.domain.ApiProvider" >
    update api_provider
    set name = #{name,jdbcType=VARCHAR},
      version = #{version,jdbcType=VARCHAR},
      state = #{state,jdbcType=TINYINT},
      weixin_receivers = #{weixinReceivers,jdbcType=VARCHAR},
      mail_receivers = #{mailReceivers,jdbcType=VARCHAR},
      phone_receivers = #{phoneReceivers,jdbcType=VARCHAR},
      description = #{description,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.binggo.apiwatchdog.domain.ApiProvider" >
    update api_provider
    set name = #{name,jdbcType=VARCHAR},
      version = #{version,jdbcType=VARCHAR},
      state = #{state,jdbcType=TINYINT},
      weixin_receivers = #{weixinReceivers,jdbcType=VARCHAR},
      mail_receivers = #{mailReceivers,jdbcType=VARCHAR},
      phone_receivers = #{phoneReceivers,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>